* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.page {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  background-color: #B5E3BA;
  display: flex;
  justify-content: center;

  align-items: center;
  padding: 12px 24px;
}



.nav-title {
  width: 100%;
  height:70px;
  background-color: #B5E3BA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  


  display: flex;

}
.menu-items {
  width:50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}

.nav-links {
  font-size: 16px;
  font-weight: 600;
  color: #030402;
  cursor: pointer;
  margin-right: 32px;

}

.logo-n{
  height:91px;
  width: 70px;
  margin-top:20px;
 
  margin-right: 0px;
}
.nav-title h1 {
  margin: 0;
  white-space: nowrap;
}


.nav-title h1:not(:last-of-type) {
  margin-right: 32px;
}





.logo-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:50px;
}

.content {
  padding: 40px 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box {
  background-color:#B5E3BA;
  border-radius: 18px;
  text-align: center;
  align-items: center;

  width:800px;
  height:300px;
}

.text-box p {
  margin-top:60px;
  font-size: 18px;
  line-height: 2;
  color: #6E5B2E;
  font-weight: 800;
}

.footer-title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #6E5B2E;
}





















* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
}


.progress {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 80px;
}


h2 {
    color: #6E5B2E;
    font-weight: 700;
    margin-bottom: 5px;
}

.subtitle {
    color: #6E5B2E;
    font-size: 14px;
}


.progress-bar-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.percentage {
    font-weight: 600;
    color: #6E5B2E;
}

.progress-bar {
    width: 500px;
    height: 22px;
    background-color: #D9D9D9;
    border-radius: 6px;
    overflow: hidden;
}

.progress-fill {
    width: 75%;
    height: 100%;
    background-color: #6E5B2E;
    border-radius: 6px;
}


.activities-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
}


.activity-card {
    flex: 1;
    padding: 40px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.activity-card strong {
    font-size: 22px;
    font-weight: 700;
    align-items: center;
}


.green {
    background-color: #B5E3BA;
    color: #6E5B2E;
}

.brown {
    background-color: #6E5B2E;
    color: #B5E3BA;
}